.subject {
	margin: auto;
	
	display: inline-block;
	overflow: auto;
	height: 100%;
	color: #ffffff;
	font-family: "Arial";
	font-size: 1.0em;
	border-radius: 40px;
	background-color: #3fada8;
	padding: 2px;
}
.subject:hover{
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
